@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    height: 100vh;
}

#__next {
    height: 100%;
    display: flex;
    align-items: center;
  }